.SVGAdminPage{
    height: 1em;
}
.ulChildDivAdminPage{
    display: flex;
}
.ulChildDivAdminPageStyle{
    margin: 0em 2em;
}

.LiUlDivAdminPageMainNav{
    list-style: none;
    margin-left: 1em;
}
.ulAdminPage{
    display: flex;
    padding: 0;
    margin: 2em 0  0 0;
}



.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.field {
  flex: 1;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button:hover {
  background-color: #f84c54;
}

.error {
  color: red;
  font-size: 0.875em;
}

.btnSubmitSaveProduct{
    background-color: #e50914;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svgSaveProductButton{
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.5em;
}

.MainDivAdminPage{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em auto;
}

.AdminPanelTextMainPage{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.9em;
  font-weight: 500;
  line-height: 0;
}
.ManageProductsTextMainPage{
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 0;
  color: #121212a6;
}
.MainNavAdminPage{
  border-bottom: #ccc 1px solid;
}


.ulChildDivAdminPage {
  cursor: pointer;
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  height: 100%;
  padding: 0.8em 0;
  font-family: "Ubuntu", sans-serif;
}

.ulChildDivAdminPage.active {
  color: #e50914;
  border-bottom: 2px solid #e50914;
}

.AdminPageContentAddProductComponent{

  padding: 2em;
  border-radius: 10px;
  margin-top: 2em;
}
.AdminPageContentAddProductComponentTitle{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  color: #121212;
  margin-bottom: 1em;
}

.AdminPageContentAddProductComponentTable{
  margin-top: 4em;
  background-color: #FFF;
  box-shadow: #1212121f 0px 0px 10px;
  border-radius: 10px;
}
.tableAdminPage{
  padding: 0em 2em 2em 2em;
  width: 100%;
  border-collapse: collapse;
}
.CurrentProductsAdminPage{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: #121212;
  margin-bottom: 1em;
  padding: 1.5em 1.5em 0em 1em;
}
.theadAdminPage{
  background-color: #cccccc2d;
  width: 100%;
  text-align: left;
  border: #12121217 1px solid;
  border-width: 1px 0 1px 0;
}
.theadLabelAdminPage{
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  color: #121212f6;
  padding: 0.5em 0;
  font-weight: 400;
}
.theadAdminPage th {
  padding: 0.7em 1em;
  border: none;
}
.tbodyAdminPage{
  background-color: #fff;
}

.tbodyAdminPage td {
  padding: 1.3em 1em;
  font-family: "Ubuntu", sans-serif;
}

.tbodyAdminPage tr {
  border: #1212122a 1px solid;
  border-width: 1px 0 1px 0;
}

.editBtn{
  background-color: transparent;
  outline: none;
  border: none;
  color: #006B46 ;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1em;
}
.editBtn:hover{
  background-color: #ffffff;
}
.deleteBtn{
  background-color: transparent;
  outline: none;
  border: none;
  color: #e50914;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1em;
}
.deleteBtn:hover{
  background-color: #ffffff;
}